<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container">
        <% if(errorMessage){ %>
        <div class="alert alert-danger text-center my-2" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="row justify-content-center">
            <form class="col-12 col-md-8" method="POST" action="/delete-account" autocomplete="off">
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" name="password">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                <div class="alert alert-warning text-center my-2" role="alert">
                    Your account will be premenantly deleted !
                </div>
            </form>
        </div>
    </div>

    <%- include("../include/bottom.ejs") %>