<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container">
        <% if(errorMessage){ %>
        <div class="alert alert-danger text-center my-2" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="row justify-content-center">
            <form class="col-12 col-md-8" method="POST" action="/reset-password" autocomplete="off">
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" class="form-control" id="InputEmail" name="email"
                        value="<%= oldInput ? oldInput.email : undefined%>">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-info btn-block">Reset</button>
            </form>
        </div>
    </div>

    <%- include("../include/bottom.ejs") %>