<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <p class=" navbar-brand metro-logo">METRO</p>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%= path === '/movies' || path === '/admin/movies' ? 'active' : '' %>">
                <a class="nav-link" href="/movies">Movies<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= path === '/bookings' || path === '/admin/bookings' ? 'active' : '' %>">
                <a class="nav-link" href="/bookings">Bookings</a>
            </li>
            <li class="nav-item <%= path === '/admin/add-movie' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/add-movie">Add Movie</a>
            </li>
            <li class="nav-item <%= path === '/admin/notifications' ? 'active' : '' %>">
                <a class="nav-link" href="/admin/notification">notifications</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if(isSignedIn){ %>
            <li class="nav-item ml-3">
                <form action="/signout" method="POST">
                    <button class="btn btn-danger" type="submit">sign out</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                </form>
            </li>
            <% } else { %>
            <li class="nav-item mr-3">
                <form action="/signin" method="GET">
                    <button class="btn btn-outline-success mb-2 mb-lg-0" type="submit">sign in</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/signup" method="GET">
                    <button class="btn btn-outline-primary" type="submit">sign up</button>
                </form>
            </li>
            <% } %>
        </ul>
    </div>
</nav>