<%- include("../include/top.ejs") %>
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-12 col-lg-6" autocomplete="off" method="POST" action="/book-movie/<%= movieId %>">
                <% if(errorMessage){ %>
                <div class=" alert alert-danger text-center my-3" role="alert">
                    <%= errorMessage %>
                </div>
                <% } %>
                <h5 class="my-3">
                    <span class="text-primary">Movie: </span> <%= movieTitle %>
                </h5>
                <h5 class="my-3">
                    <span class="text-primary">Time: </span> <%= time %>
                </h5>
                <div class="form-group">
                    <label for="date" class="h5 text-primary">Date:</label>
                    <input type="date" class="form-control" id="date" name="date"
                        value="<%= oldInput && oldInput.date %>" min="<%= startDate %>" max="<%= endDate %>" />
                </div>
                <div class="alert alert-primary my-3">
                    There is supposed to be a payment method here using Stripe Payments (which is very easy to implement
                    by the
                    way), but I decided not to include it.
                    This is not yet a real production app and It would be super inconvienent to ask for credit card info
                    to try
                    a demo out.
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-primary btn-block btn-lg">
                    Get Ticket
                </button>
            </form>
        </div>
    </div>
    <%- include("../include/bottom.ejs") %>