<div class="card m-2 main-card">
    <%- include("./movie-badges.ejs", {movie})%>
    <div class="row">
        <div class="col-12 col-sm-6 align-items-center">
            <img class="card-img img" src="<%= movie.imgUrl %>" alt="<%= movie.title%> img">
        </div>
        <div class="col-12 col-sm-6 align-items-center content">
            <div class="card-body">
                <h5 class="card-title" title="<%= movie.title %>">
                    <%= movie.title.length > 38 ? movie.title.substring(0,35) + "..." : movie.title %>
                </h5>
                <p class="card-text description"><%= movie.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-primary">Year : </span><%= movie.year %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Starts : </span><%= movie.startDate %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Ends : </span><%= movie.endDate %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Seats Available: </span><%= movie.seatsAvailable %> <span
                        class="text-primary">out of</span>
                    <%= movie.seats %>
                </li>
            </ul>
            <div class="card-body">
                <% if(path === "/movies"){ %>
                <a href="/book-movie/<%= movie._id %>" class="btn btn-primary btn-block">Get your
                    ticket</a>
                <% } else{  %>
                <%- include("./admin-movie-controllers.ejs", {movie})%>
                <% } %>
            </div>
        </div>
    </div>
</div>