<%- include("../include/top.ejs") %>
<link rel="stylesheet" href="/css/movies.css">
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <% if(movies.length > 0){ %>
    <div class="container-fluid">
        <div class="alert alert-danger text-center role=" alert" id="error-alert" style="display: none;">
        </div>
        <div class="row justify-content-center main">
            <% movies.forEach(movie => { %>
            <%- include("./movie.ejs", {movie})%>
            <% }) %>
        </div>
        <div class="my-3 row justify-content-center">
            <ul class="pagination">
                <% if (!!previousArrow) { %>
                <li class="page-item">
                    <a href="?page=<%= previousArrow %>" class="page-link">
                        << </a>
                </li>
                <% } %> <% if (!!previous) { %>
                <li class="page-item">
                    <a href="?page=<%= previous %>" class="page-link"><%= previous %></a>
                </li>
                <% } %>
                <li class="page-item active">
                    <a href="?page=<%= currentPage %>" class="page-link"><%= currentPage %></a>
                </li>
                <% if (!!next) { %>
                <li class="page-item">
                    <a href="?page=<%= next %>" class="page-link"><%= next %></a>
                </li>
                <% } %> <% if (!!nextArrow) { %>
                <li class="page-item">
                    <a href="?page=<%= nextArrow %>" class="page-link">
                        >>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } else{%>
    <div class="container-fluid">
        <div class="alert alert-warning text-center" role="alert">
            this page is empty
        </div>
    </div>
    <% } %>
    <script src="/js/deleteMovie.js"></script>
    <script src="/js/changeMovieHiddenState.js"></script>
    <script src="/js/changeMoviePinnedState.js"></script>
    <%- include("../include/bottom.ejs") %>