<div class="card m-2 main-card">
    <div class="badge-container">
        <span class="badge badge-warning" id="pinned-badge" style="display: <%= movie.pinned ? 'block' : 'none' %>">
            pinned!
        </span>
        <span class="badge badge-dark" id="hidden-badge" style="display: <%= movie.hidden ? 'block' : 'none' %>">
            hidden
        </span>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 align-items-center">
            <img class="card-img img" src="<%= movie.imgUrl %>" alt="<%= movie.title%> img">
        </div>
        <div class="col-12 col-sm-6 align-items-center content">
            <div class="card-body">
                <h5 class="card-title">
                    <%= movie.title.length > 39 ? movie.title.substring(0,36) + "..." : movie.title %>
                </h5>
                <p class="card-text description"><%= movie.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-primary">Year : </span><%= movie.year %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Date : </span><%= movie.date %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Seats : </span><%= movie.seatsAvailable %> of
                    <%= movie.seats %>
                </li>
            </ul>
            <div class="card-body">
                <% if(path === "/movies"){ %>
                <a href="/book-movie/<%= movie._id %>" class="card-link btn btn-primary btn-block">Get your
                    ticket</a>
                <% } else{  %>
                <div class="row justify-content-between">
                    <button class="card-link btn btn-warning"
                        onclick="changeMoviePinnedState(this, '<%= movie._id %>','<%= csrfToken %>')">
                        <%= movie.pinned ? "unPin" : "Pin"%>
                    </button>
                    <a href=" /admin/edit-movie/<%= movie._id %>" class="card-link btn btn-primary"><i
                            class="far fa-edit"></i></a>
                    <button class="card-link btn btn-dark"
                        onclick="changeMovieHiddenState(this, '<%= movie._id %>','<%= csrfToken %>')">
                        <% if(movie.hidden){%>
                        <i class="far fa-eye"></i>
                        <% } else {%>
                        <i class="far fa-eye-slash"></i>
                        <% } %>
                    </button>
                    <button class="card-link btn btn-danger"
                        onclick="deleteMovie(this, '<%= movie._id %>','<%= csrfToken %>')"><i
                            class="far fa-trash-alt"></i></button>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>