<div class="card m-2 main-card">
    <div class="badge-container">
        <span class="badge badge-danger" id="end-date-reached-badge"
            style="display: <%= movie.pastEndDate ? 'block' : 'none' %>">
            end date reached
        </span>
        <span class="badge badge-warning" id="pinned-badge" style="display: <%= movie.pinned ? 'block' : 'none' %>">
            pinned!
        </span>
        <span class="badge badge-dark" id="hidden-badge" style="display: <%= movie.hidden ? 'block' : 'none' %>">
            hidden
        </span>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 align-items-center">
            <img class="card-img img" src="<%= movie.imgUrl %>" alt="<%= movie.title%> img">
        </div>
        <div class="col-12 col-sm-6 align-items-center content">
            <div class="card-body">
                <h5 class="card-title">
                    <%= movie.title.length > 39 ? movie.title.substring(0,36) + "..." : movie.title %>
                </h5>
                <p class="card-text description"><%= movie.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-primary">Year : </span><%= movie.year %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Starts : </span><%= movie.startDate %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Ends : </span><%= movie.endDate %>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Seats Available: </span><%= movie.seatsAvailable %> <span
                        class="text-primary">/</span>
                    <%= movie.seats %>
                </li>
            </ul>
            <div class="card-body">
                <% if(path === "/movies"){ %>
                <a href="/book-movie/<%= movie._id %>" class="btn btn-primary btn-block">Get your
                    ticket</a>
                <% } else{  %>
                <div class="row justify-content-center admin-actions">
                    <button class="btn btn-warning" title="<%= movie.pinned ? 'UnPin' : 'Pin' %>"
                        onclick="changeMoviePinnedState(this, '<%= movie._id %>','<%= csrfToken %>')">
                        <% if(movie.pinned){%>
                        <i class="far fa-thumbs-down"></i>
                        <% } else {%>
                        <i class="far fa-thumbs-up"></i>
                        <% } %>
                    </button>
                    <button class="btn btn-primary" title="Edit">
                        <a href=" /admin/edit-movie/<%= movie._id %>" class="normal-link" title="Edit">
                            <i class="far fa-edit"></i></a>
                    </button>
                    <button class="btn btn-dark" title="<%= movie.hidden ? 'UnHide' : 'Hide' %>"
                        onclick="changeMovieHiddenState(this, '<%= movie._id %>','<%= csrfToken %>')">
                        <% if(movie.hidden){%>
                        <i class="far fa-eye"></i>
                        <% } else {%>
                        <i class="far fa-eye-slash"></i>
                        <% } %>
                    </button>
                    <button class="card-link btn btn-danger" title="delete"
                        onclick="deleteMovie(this, '<%= movie._id %>','<%= csrfToken %>')"><i
                            class="far fa-trash-alt"></i></button>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>