<%- include("../include/top.ejs") %>
<link rel="stylesheet" href="/css/movies.css">
</head>

<body>
    <%- include("../include/nav.ejs") %>
    <% if(movies.length > 0){ %>
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert" id="delete-movie-alert" style="display: none;">
            couldn't delete movie
        </div>
        <div class="row justify-content-center main">
            <% movies.forEach(movie => { %>
            <div class="card m-2 main-card">
                <div class="row">
                    <div class="col-12 col-sm-6 align-items-center">
                        <img class="card-img img" src="<%= movie.imgUrl %>" alt="<%= movie.title%> img">
                    </div>
                    <div class="col-12 col-sm-6 align-items-center content">
                        <div class="card-body">
                            <h5 class="card-title"><%= movie.title %></h5>
                            <p class="card-text description"><%= movie.description %></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="text-primary">Year : </span><%= movie.year %>
                            </li>
                            <li class="list-group-item">
                                <span class="text-primary">Date : </span><%= movie.date %>
                            </li>
                            <li class="list-group-item">
                                <span class="text-primary">Seats : </span><%= movie.seatsAvailable %> of
                                <%= movie.seats %>
                            </li>
                        </ul>
                        <div class="card-body">
                            <% if(path === "/movies"){ %>
                            <a href="/book-movie/<%= movie.id %>" class="card-link btn btn-primary btn-block">Get your
                                ticket</a>
                            <% } else{  %>
                            <div class="row justify-content-between">
                                <a href="/admin/edit-movie/<%= movie.id %>" class="card-link btn btn-primary"
                                    style="width: 46%;">Edit</a>
                                <button class="card-link btn btn-danger" style="width: 46%;"
                                    onclick="deleteMovie(this, '<%= movie.id %>','<%= csrfToken %>' )">Delete</button>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="my-3 row justify-content-center">
            <ul class="pagination">
                <% if (!!previousArrow) { %>
                <li class="page-item">
                    <a href="?page=<%= previousArrow %>" class="page-link">
                        << </a>
                </li>
                <% } %> <% if (!!previous) { %>
                <li class="page-item">
                    <a href="?page=<%= previous %>" class="page-link"><%= previous %></a>
                </li>
                <% } %>
                <li class="page-item active">
                    <a href="?page=<%= currentPage %>" class="page-link"><%= currentPage %></a>
                </li>
                <% if (!!next) { %>
                <li class="page-item">
                    <a href="?page=<%= next %>" class="page-link"><%= next %></a>
                </li>
                <% } %> <% if (!!nextArrow) { %>
                <li class="page-item">
                    <a href="?page=<%= nextArrow %>" class="page-link">
                        >>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="/js/delete.js"></script>
    <% } else{%>
    <div class="container-fluid">
        <div class="alert alert-warning text-center" role="alert">
            this page is empty
        </div>
    </div>
    <% } %>
    <%- include("../include/bottom.ejs") %>